*.jl.cov
*.jl.*.cov
*.jl.mem
Manifest.toml
*.DS_Store
*.pras
PRASFiles.jl/test/PRAS_Results_Export/

# Any html and duckdb files generated during testing
*.html 
*.duckdb
docs/build/
docs/site/
docs/src/examples/