# Julia
*.jl.cov
*.jl.*.cov
*.jl.mem

# Julia env
Manifest.toml

# OS files
.DS_Store
*.DS_Store

# PRAS files
*.pras

# Generated docs
docs/build/
docs/site/

# Docs
docs/build/
docs/site/
docs/src/examples/

# Generated PRASFiles test exports
PRASFiles.jl/test/PRAS_Results_Export/

# Generated reports/test artifacts
*.html
*.duckdb